.Card {
    display: inline-block;
    margin: 12px;
    padding: 12px;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 14px;
    overflow: hidden;
    background-color: #777;
}

.Card .Conteudo {
    color: #fff;
    padding: 15px 0px;
}

.Card .Footer {
    background-color: #000;
    color: #fff;
    padding: 5px 5px;
    border-radius: 8px;
}